* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Helps with consistent sizing */
}

body {
    background-color: hsl(271, 46%, 39%);
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

.main {
    width: 90%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    width: 100%;
    max-width: 600px;
    border: 7px solid #EA50AE;
    border-radius: 10px;
    text-align: center;
    background-color: #2b0b48;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.6vh;
}

.question {
    color: #c5e0e0;
    font-size: 2vw;
    text-align: center;
}

.heading {
    border-bottom: 0.7px solid white;
    padding-bottom: 4vh;
    margin-top: 6vh;
    color: #609b9b;
    font-size: 2.5vw;
    text-align: center;
}

.answer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-div button {
    border: 5px solid #7f7e85;
    border-radius: 17px;
    background-color: transparent;
    color: #a1c5c5;
    margin: 1.2vh 0; 
    font-size: 1.5vw;
    padding: 1.5vh;
    width: 90%; 
    max-width: 300px;
    cursor: pointer;
    transition: all 0.3s;
}

.answer-div button:hover {
    background-color: hsl(271, 40%, 55%);
    color: #eaf1f1;
}

.submit-btn {
    background-color: hsl(271, 51%, 67%);
    color: #162b2b;
    border: 2px solid #7f7e85;
    border-radius: 9px;
    margin: 1.6vh;
    font-size: 1.8vw;
    padding: 1.8vh;
    width: 50%;
    max-width: 150px;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-btn:hover {
    background-color: transparent;
    color: #eaf1f1;
}

.submit-btn:hover{
    background-color: transparent;
    color: #eaf1f1;
}

.ans.answer{
    background-color: #79a56e;
    border-color: #79a56e;
}

.ans.incorrect{
    background-color: red;
}

@media screen and (max-width: 1024px) {
    .main {
        margin: 8vh auto;
    }

    .question {
        font-size: 3vw;
    }

    .heading {
        font-size: 3vw;
    }

    .answer-div button,
    .submit-btn {
        font-size: 2vw;
        padding: 1.2vh;
    }
}

/* /* For smaller tablets */
@media screen and (max-width: 768px) {
    .main {
        margin: 6vh auto;
    }

    .question {
        font-size: 4vw;
    }

    .heading {
        font-size: 4vw;
    }

    .answer-div button,
    .submit-btn {
        font-size: 2.5vw;
        padding: 1.4vh;
    }
}

/* For mobile phones*/
@media screen and (max-width: 480px) {
    .main {
        margin: 4vh auto;
    }

    .question {
        font-size: 5vw;
    }

    .heading {
        font-size: 5vw;
    }

    .answer-div button,
    .submit-btn {
        font-size: 4vw;
        padding: 1.2vh;
    }
}
